{% extends 'index.html' %}
{% load staticfiles %}
{% block body %}
		<div class="container padd">
			<div class="form-group">
				<h3>¿Consultas, Dudas, Sugerencias? </h3><h3>Contactanos</h3>
			</div><br>
			<div class="form-group">
			    <label for=""><h4>Telefono: </h4><h6> 073-408003</h6></label>
			</div>
			<div class="form-group">
			    <label for=""><h4>Direccion: </h4><h6> Ca. Huayna Capac 1302, Campo Polo, Castilla</h6></label>
			</div>
			<div class="form-group">
			    <label for=""><h4>Email: </h4><h6> memoriespetsforever@hotmail.com</h6></label>
			</div>
			<div class="form-group">
			    <label for=""><h4>Encuentranos: </h4></label><br>			    
			    <a href=""><span class="icon icon-facebook"></span>Memories pets forever</a>
			</div>
{% endblock %}