{% extends 'index.html' %}
{% load staticfiles %}
{% block body %}
		<div class="container padd">
			<h2>¿Quienés Somos?</h2><br><br>
			<h5 class="w3-center">El amor que se desarrolla entre amo y mascota no se comparar con nada, por eso nuestra misión es ofrecer un servicio digno para todos los amantes de animales que deseen cremar a su mascota para su descanso eterno.</h5><br>
			<h5 class="w3-center">Nuestra visión es ser siempre más que un servicio, una mano amiga que esté en todo momento apoyando a cada uno de nuestros clientes.</h5>

			<h5 class="w3-center w3-hide-small w3-hide-large w3-hide-medium">El amor que se desarrolla entre amo y mascota no se comparar con nada, por eso nuestra misión es ofrecer un servicio digno para todos los amantes de animales que deseen cremar a su mascota para su descanso eterno.</h5><br>
			<h5 class="w3-center w3-hide-small w3-hide-large w3-hide-medium">Nuestra visión es ser siempre más que un servicio, una mano amiga que esté en todo momento apoyando a cada uno de nuestros clientes.</h5>

			<h2>Nuestras instalaciones</h2><br><br>
			<h5 class="w3-center">Memories pets forever tiene a su disposición un horno de cremación CROIL 2500-3, asi como servicios de: recojo, traslado y urnas para cenizas, donde su mascota descansara en paz.</h5><br>
			<h5 class="w3-center">Además de nuestras oficinas ubicadas en Calle Las Dalias 255 Miraflores, Castilla-Piura, donde podrá visitarnos y consultar nuestro servicio.</h5>

			<h5 class="w3-center w3-hide-small w3-hide-large w3-hide-medium">Memories pets forever tiene a su disposición un horno de cremación CROIL 2500-3, asi como servicios de: recojo, traslado y urnas para cenizas, donde su mascota descansara en paz.</h5><br>
			<h5 class="w3-center w3-hide-small w3-hide-large w3-hide-medium">Además de nuestras oficinas ubicadas en Calle Las Dalias 255 Miraflores, Castilla-Piura, donde podrá visitarnos y consultar nuestro servicio.</h5>
		</div>
{% endblock %}
