{% extends 'cinema/base.html' %}
{% block admin %}../../admin/ {% endblock %}

{% block body %}

  <table border="2">
      <thead>
        <tr>
          <td>#</td>
          <td>Categoria</td>
          <td>Accion</td>
        </tr>
      </thead>
      <tbody>
        {% if object_list %}
        {% for categoria in object_list %}
        <tr>
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.nombre }}</td>
          <td>
            <a href="{% url 'pelicula:editar_categoria' categoria.id %}" class="w3-btn w3-hover-green w3-margin-left"><span class="icon-pencil"></span></a>
            <a href="{% url 'pelicula:eliminar_categoria' categoria.id %}" class="w3-btn  w3-hover-green w3-margin-left"><span class="icon-bin"></span></a>
          </td>
        </tr>
        {% endfor %}
        {% else %}
          <h2>No hay registros</h2>
        {% endif %}
      </tbody>
  </table>
{% endblock %}
