{% extends 'test1/base.html' %}


{% block body %}
<table border="2">
  {% if object_list %}
    <thead>
      <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Nombre Alterno</td>
        <td>Duracion</td>
        <td>Categoria</td>
        <td>Fecha de Estreno</td>
        <td>Idioma Original</td>
        <td>Director</td>
        <td>Sinopsis</td>
        <td>Accion</td>
      </tr>
    </thead>
    <tbody>
      {% for pelicula in object_list %}
      <tr>
        <td>{{ pelicula.id }}</td>
        <td>{{ pelicula.nombre }}</td>
        <td>{{ pelicula.nombre_alterno }}</td>
        <td>{{ pelicula.duracion }}</td>
        <td>
          <ul>{% for categoria in pelicula.categoria.all %}
    				<li>
    					{{categoria.categoria}}
    				</li>
    				{% endfor %}
    			</ul>
        </td>
        <td>{{ pelicula.fecha_estreno }}</td>
        <td>{{ pelicula.idioma_original }}</td>
        <td>{{ pelicula.director }}</td>
        <td>{{ pelicula.sinopsis }}</td>
        <td>
          <a href="{% url 'sala:editar_pelicula' pelicula.id %}">Editar</a>
          <a href="{% url 'sala:eliminar_pelicula' pelicula.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  {% else %}
    <h2>No se existen datos que mostrar</h2>
  {% endif %}
</table>

{% endblock %}
